@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000F2B;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000F2B;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.radial-blur {
  filter: blur(80px);
  opacity: 0.5;
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}